* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Arial, sans-serif;
}


.menu-container {
  width: 100%;
  padding: 40px 60px;
  background-color: #fff;
}
 
.menu-tabs {
  display: flex;
  justify-content: center;
  gap: 35px;
  margin-bottom: 40px;
  align-items: center;
}

.menu-tabs span {
  display: flex;
  align-items: center;
  gap: 6px;
  font-size: 14px;
  font-weight: 600;
  color: #000;
  cursor: pointer;
}

.menu-tabs span svg {
  font-size: 18px;
}

.menu-tabs .active {
  color: #e63946;
}

 
.card-container {
  display: flex;
  justify-content: space-between;
  gap: 30px;
}

 
.card {
  width: 32%;
  padding: 20px;
  text-align: center;
  position: relative;
  border-left: 1px dashed #ddd;
  border-right: 1px dashed #fffbfb;
}

.card img {
  width: 100%;
  height: 260px;
  object-fit: cover;
  margin-bottom: 15px;
}

 
.ribbon {
  position: absolute;
  top: 20px;
  left: 20px;
  background-color: #e63946;
  color: #c00c0c;
  padding: 6px 10px;
  font-size: 12px
}