 
body {
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main {
    border: 2px solid black;
    height: 600px;
    width: 650px;
}

.main1{
    border: 2px solid black;
    height: 60px;
    width: 650px;
}