 /* body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
} 

 
.main {
  width: 650px;
  height: 650px;
  border: 2px solid black;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex-wrap: wrap;
  
}
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                    
 

.box1{
    flex:1;
    display: flex;
    border:1px solid black;
    margin:10px;

}
.box2{
    flex:1;
    display: flex;
    border:1px solid black;


}
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f5f5f5;
}

.app {
  display: flex;
  padding: 20px;
  gap: 20px;
}

 .left {
  flex: 3;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
}

.header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.header input {
  padding: 10px;
  width: 250px;
  border-radius: 20px;
  border: 1px solid #ddd;
}

.section-title {
  margin: 20px 0 10px;
}

 
.discount {
  display: flex;
  gap: 15px;
}

.discount-card {
  background: #fafafa;
  padding: 15px;
  border-radius: 15px;
  width: 200px;
  text-align: center;
}

.img-box {
  height: 100px;
  background: #ddd;
  border-radius: 10px;
  margin-bottom: 10px;
}

.discount-card button {
  margin-top: 10px;
  padding: 6px 15px;
  border: none;
  background: black;
  color: white;
  border-radius: 20px;
}

 
.tabs {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
}

.tabs button {
  padding: 6px 15px;
  border-radius: 20px;
  border: 1px solid #ddd;
  background: white;
}

.tabs .active {
  background: black;
  color: white;
}

 
.menu {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 15px;
}

.menu-card {
  background: #fafafa;
  padding: 15px;
  border-radius: 15px;
  text-align: center;
}
 
.right {
  flex: 1;
  background: #fff;
  padding: 20px;
  border-radius: 15px;
}

.info-box label {
  font-size: 12px;
  margin-top: 10px;
  display: block;
}

.info-box input {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border-radius: 8px;
  border: 1px solid #ddd;
}

.counter {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.counter button {
  width: 30px;
  border-radius: 50%;
  border: none;
  background: #eee;
}

 
.order-list {
  margin: 15px 0;
}

.order-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

 
.summary div {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.summary .total {
  font-weight: bold;
  color: green;
}

.order-btn {
  width: 100%;
  padding: 12px;
  background: black;
  color: white;
  border-radius: 30px;
  border: none;
  margin-top: 10px;
}
