* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  display: flex;
  background: #f5f5f5;
  padding: 20px;
  gap: 20px;
}



/* LEFT */
.left {
  flex: 3;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* HEADER */
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.search {
  flex: 1;
  margin: 0 20px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background: #f0f0f0;
}

.headerIcons {
  display: flex;
  gap: 10px;
}

.icon {
  background: #f0f0f0;
  padding: 10px;
  border-radius: 50%;
}

/* BANNER */
.banner {
  position: relative;
  height: 150px;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  color: rgb(224, 207, 20);
  opacity: 10px;
  background-image: url(banner.jpeg);

}

.bannerLeft p{
  color: #f0f0f0;
  font-size: larger;
  font-weight: 200;
}
/* .banner img{
 
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  object-fit: cover;
  filter: brightness(0.4); 
  /* background-color: #2ecc71; */
  /* z-index: 200px; */
  /* opacity: 10px; */



/* .bannerBg {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: brightness(0.5);
  opacity: 5px;


} */

.bannerLeft {
  display: flex;
  /* align-items: center; */
  gap: 15px;
  align-items: center;
  justify-content: start;
  /* flex-direction: ; */
  /* background-image: url(banner.jpeg); */
  

      /* flex: 1.5;
    display: flex;
    flex-direction: row;
    margin: 50px;
    border-radius: 10px;
    border: 1px lightyellow black;
    background-image: url("back.png");

    
    font-weight: 50;
    background-size: cover;
    color: #fffcfc;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-image: url(banner.jpeg); */
}

.bannerLeft img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
  align-items: center;
  justify-content: center;
}

.bannerRight {
  display: flex;
  gap: 30px;
  text-align: center;
}

/* CATEGORIES */
.categories {
  display: flex;
  gap: 20px;
}

.cat {
  flex: 1;
  text-align: center;
  padding: 10px;
  border-radius: 15px;
  background: #f9f9f9;
  cursor: pointer;
  border: 2px solid black;
  
}

.cat:hover{
  background-color: #757167;
  scale: 1;
}


.cat.active {
  background: #ffb400;
  color: white;
  /* border: 2px solid black; */


}

.catImg img {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  object-fit: cover;
  /* border: 2px solid black; */
}

/* DISHES */
.title {
  margin-top: 10px;
}

.dishes {
  display: flex;
  gap: 20px;
}

.card {
  flex: 1;
  background: #fff;
  padding: 15px;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.05);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card.highlight {
  background: #ffb400;
  color: white;
}
.cardImg img {
  width: 100%;
  height: 150px;
  border-radius: 15px;
  object-fit: cover;
}

.priceRow {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.priceRow button {
  background: #ffb400;
  border: none;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  cursor: pointer;
}

/* RIGHT */
.right {
  flex: 1;
  background: white;
  padding: 20px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.cartItem {
  display: flex;
  gap: 10px;
  align-items: center;
}

.itemImg img {
  width: 40px;
  height: 40px;
  border-radius: 10px;
  object-fit: cover;
}

.itemInfo {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.summary {
  margin-top: auto;
}

.summary p {
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}

.green {
color: green; 
}

.checkout {
  margin-top: 10px;
  padding: 12px;
  background: #2ecc71;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
